@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-size: 1.2rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#search {
  font-size: 1.2rem;
  border-radius: 5px;
}

.search-icon {
  height: 20px;
  width: 20px;
}

i{
  font-size: 3.5rem;
  color: purple;
}

.quick-forecast-container, .hour-forecast-container {
  display: flex;
  gap: 10px;
}

.hour-container, .hour-forecast-degree-container {
  display: flex;
  gap: 15px;
}

.hour-forecast-container {
  flex-direction: column;
}

.day {
  padding: 20px;
  border: 1px solid black;
}

.search-error {
  color: red;
}

.search-container {
  background-color: #09f;
  padding: 2px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-icon:hover, .switch-degrees:hover {
  cursor: pointer;
}

.switch-degrees {
  color: blue;
  display: inline;
}

.hour {
  border: 1px solid black;
  padding: 20px;
}